<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button>Voltar</ion-back-button>
    </ion-buttons>
    <ion-title>Cidade de Striaton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h2>Conheça a Cidade de Striaton!</h2>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe9uYEwdqCMuMN2h3__cm-V_iPe-uRGdB--44Gd3y5Wz1zBtn7BX1EFKyuPYkjwZB9kKQ&usqp=CAU" alt="">
    </ion-card-header>
    <ion-card-content>
      <p>A cidade de Striaton é onde poderemos ter nossa primeira batalha de ginásio!</p>
      <div>
        <h2>Ginásio de Striaton</h2>
        <img src="https://www.serebii.net/blackwhite/gym/gym1.png" alt="">
        <label slot="end">O ginásiode Striaton é dentro do restaurante do trio de líderes de ginásio que nele trabalham.</label>
      </div>
      <div>
        <h2>O Trio</h2>
        <img src="https://1.bp.blogspot.com/-k5WgRgKatss/VSxkdLAMP3I/AAAAAAAAUOE/GDqxpDmLHPY/s1600/Chili%2C_Cilan%2C_%26_Cress.png" alt="">
        <label slot="end">O trio, Chili, Cilan e Cress, utilizam respectivamente os pokémons Pansear, Pansage e Panpour. No jogo, você será desafiado pelo líder que usa uma tipagem forte contra seu pokémon inicial.</label>
      </div>
      <div>
        <h2>A Insígnia</h2>
        <img src="https://pa1.narvii.com/6671/fce21cdd6bf4ce44b52ec3695e0a75d054db28dc_00.gif" alt="">
        <label slot="end">Chamada de Insígnia do Trio, é ganha após concluir o puzzle e derrotar um dos três líderes de ginásio</label>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Jardim dos Sonhos</ion-label>
    </ion-item>
    <ion-card-content>
      <img src="https://4.bp.blogspot.com/-iZ5Ql5dyasw/U-GZyO3YK9I/AAAAAAAAB30/4TjxirApuQo/s1600/latias.jpg" alt="" slot="center">
      O Dreamyard (em japonês: Dream Ruins) é as ruínas de uma antiga fabrica no leste de Striaton City. Anos após o local ser abandonado, as crianças e Pokémon visitam o local, que agora também é o lar de Munna e Musharna.
    </ion-card-content>
    <ion-button fill="outline" href="https://www.poke-blast-news.net/2014/08/turismo-pokemon-rota-2-striaton-city-e.html" target="_blank">Saiba Mais</ion-button>
  </ion-card>
  <ion-item>

  </ion-item>
</ion-content>
